<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kem.DoAn_Cinema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kem.DoAn_Cinema.HoaDon"></activity>
        <activity android:name="com.kem.DoAn_Cinema.ChonGhe" />
        <activity android:name="com.kem.DoAn_Cinema.intr_fordvsferrari" />
        <activity android:name="com.kem.DoAn_Cinema.intr_giangsinhnamay" />
        <activity android:name="com.kem.DoAn_Cinema.intr_chichiemem" />
        <activity android:name="com.kem.DoAn_Cinema.intr_anhtraiyeuquai" />
        <activity android:name="com.kem.DoAn_Cinema.intr_jumanji" />
        <activity android:name="com.kem.DoAn_Cinema.intrudu_matbiec" />
        <activity android:name="com.kem.DoAn_Cinema.trangchu" />
        <activity android:name="com.kem.DoAn_Cinema.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManHinhChaoActivity"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>